name: Continuous Build Linux

on:
  push

jobs:
  static-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: kornelski/pngquant
          path: build
          ref: refs/tags/2.17.0
      - name: Install
        run: apt install -y libpng-dev build-essential
